<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Items</title>
</head>
<body>
    <h1>Fetching items</h1>
    <div id="divCategory">
    <form action="/fetch2" method="POST">
        <label for="category">Chose a category</label>
        <input type="text" list="category" name="category">
            <datalist id="category">
                <option value="Amazon Laptop"></option>
                <option value="BestBuy Laptop"></option>
                <option value="Amazon Golf"></option>
                <option value="Kijiji House"></option>
            </datalist>
        <input type="submit" name="submit" id="submit">
    </form>
    </div>
    <hr>
    <div id="divShowFetch">
        <% if(linkItems){ %>
                <h1>Items fetched</h1>
                <% linkItems.forEach((linkItem) => { %>
                    <div style="background-color: whitesmoke; margin: 5px; padding: 5px;">
                    <% if(linkItem){ %>
                        <form action="/saveItem" method="POST">
                            <input type="submit" name="submit" value="Save this item" id="submit"
                                style="width:auto; font-size: large; color: red;">
                            <input type="text" name="category" value="<%= linkItems[0].cat %>" hidden>
                            <input type="checkbox" name="url" value="<%= linkItem.link %>" checked hidden>
                            <a href="<%= linkItem.link %>" target="_blank">  Item number <%= linkItem.pos %> fetched.
                                <p style="font-size: x-small;"><%= linkItem.link %></p>
                            </a>
                        </form>
                    <% }else { %>
                        <p>empty fetched</p>
                    <% } %>
                    <hr>
                    </div>
                <% }) %>
        <% }else { %>
                    <p>No item yet</p>
           <% } %> 
    </div>
</body>
</html>